<h2>Restaurants</h2>
<ol>
  <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <% end %>
</ol>
<%= link_to 'Add a New Restaurant', new_restaurant_path %>
